<%- include('../partials/mainHtmlPart1'); %>
<!-- include your title and css files -->
<link rel="stylesheet" href="../../cssFiles/style.css">
<title><%=post.author.name%> Post</title>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <div class = "pageHeading mb-3">
        <h3 class = "mb-3"><%=post.title%></h3>
        <form action="/post/<%=post._id%>/bookmark" method = "POST">
            <% if(!userId) { %>
                <button class = "btn btn-outline-info" disabled>Bookmark</button>
            <% } else {%>
                <% if(isBookmarked){ %>
                     <div class = "btn btn-success">Already bookmarked</div>
                <% } else {%>
                    <button class = "btn btn-outline-info" type = "submit">Bookmark</button>
                <% } %>
            <% } %>
        </form>
    </div>
    <div class = "container">
        <div class="container mb-3">
            <div class="postHead">
                <div class = "mb-3" >
                    <span id = "postAuthor"><b>Post author </b>:  <i><a href="/user/<%=post.author.username%>/userDetails"><%=post.author.name%></a></i> ,</span> 
                    <span id = "postDate"><%=post.postingDate%></span>
                </div>
                <div class = "mb-4" id = "postContent">
                    <div class = "card-text"><%=post.content %></div>
                </div>
                <div>
                    <span>
                        <form action="/post/<%=post._id%>/postDetails/upvote" method = "POST" class = "upDownForm">
                            <button class = "upDownButtons" id = "upvote">
                                <span id = "upvoteIcon"><i class="bi bi-hand-thumbs-up"></i></span>
                                <span><%=post.upvotes.length%></span>
                            </button>
                        </form>
                        <form action="/post/<%=post._id%>/postDetails/downvote" method = "POST" class = "upDownForm">
                            <button class = "upDownButtons" id = "downvote">
                                <span><i class="bi bi-hand-thumbs-down"></i></span>
                                <span><%=post.downvotes.length%></span>
                            </button>
                        </form>
                    </span>
                </div>
            </div>
        </div>


        <% if(userId && post.author._id == userId){ %>
            <div class = "row">
                <div class = "col-sm-6 d-flex justify-content-center">
                    <a href = "/post/<%=post._id%>/edit" class = "btn btn-primary">Edit Post</a>
                </div>
                <div class = "col-sm-6 d-flex justify-content-center">
                    <button class="btn btn-danger">Delete Post</button>
                </div>
            </div>
        <% } %>
        <% if(post.comments.length<=1){ %>
            <h4><%= post.comments.length %> Answer</h4>
        <% } else{ %>
            <h4><%= post.comments.length %> Answers</h4>
        <% } %>
        <!-- <hr> -->
        <% for(let comment of post.comments){ %>
            <div class="card mb-3">
                <div class="card-body">
                    <div class = "mb-2">
                        <b><span class="card-title">Author : <%=comment.author.name%> , </span></b>
                        <span class = "text-muted"><%=comment.date%></span>
                    </div>
                  <p class="card-text"><%=comment.content%></p>
                </div>
            </div>
        <% } %>
        <form action="/comment/<%=post._id%>/newComment" method = "POST">
            <div class = "form-group">
                <textarea name="commentContent" class = "form-control"  cols="15" rows="5" placeholder="Write your answer here" required></textarea>
            </div>
            <% if(!userId) { %>
                <div id = "loginMessage" class = "mb-3">Please <a href="/user/login">Login</a> to answer the question</div>
            <% } %> 
            <button type = "submit" class = "btn btn-warning mb-4">Post</button>
        </form>
    </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/jsFiles'); %>
</body>
</html>

